:root {
    --chips-blue: #009CFD;
    --mult-red: #FD5F54;
  }

#jokers {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;

    @media only screen and (min-width: 450px){
        grid-template-columns: 1fr 1fr;
    }

    @media only screen and (min-width: 700px){
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media only screen and (min-width: 992px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media only screen and (min-width: 1200px){
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .chips {
        color: var(--chips-blue);
        font-weight: bold;
    }

    .mult {
        color: var(--mult-red);
        font-weight: bold;
    }
  
    .joker {
      display: flex;
      flex-direction: column;
      align-items: start;
      border: 2px solid black;
      padding: 15px;

      .image {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
      }
    }

    p {
        margin: 5px 0;
    }
}

.filters {
    border: 2px solid black;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;

    .filter-box {
        border: 2px solid black;

        .checkbox:hover {
            cursor: pointer;
        }
    }
}

body, p, input {
    margin: 0;
}

nav {
    padding: 15px;
}